/* #contenido {
  background-color: rgb(247, 247, 247);
  height: 100%;
  width: 100;
} */
#head {
  /*   background-color: rgb(135, 10, 10);
    height: 70%;
    width: 100; */

  background-size: 100%;
  background-size: cover;
  background-color: chartreuse;
  background-image: url("../assets/images/IMG_3207.jpg");
  height: 75%;
  /*   position: relative; */
  display: flex;
}
section#head div.cont {
  height: 426px;
  width: 90%;
  background-size: 100%;
  background-size: cover;
  background-image: url("../assets/images/IMG_32071.jpg");
  /*   position: absolute; */
  margin: 50px auto;

  /*   margin-top: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-left: auto; */

  /* display:flow-root; */
  /*  padding-top: 43px; */

  -webkit-box-shadow: 0 0px 5px #552410, 0 0 10px #552410 inset;
  -moz-box-shadow: 0 0px 5px #552410, 0 0 10px #552410 inset;
  box-shadow: 0 0px 5px #552410, 0 0 10px #552410 inset;
}
  
 