<div class="contact" id="cntcontac">
  <div class="presentation col-lg-12 col-md-12">
    <div class="col-12" id="cont-txtcontact">
      <h1 id="txtcontact" class="line" @entrada *ngIf="hijo === 'contact'">
        Contacto
      </h1>
    </div>
    <div id="formulario" @fadeInOut *ngIf="hijo === 'contact'">
      <form
        
        #form="ngForm"
        [formGroup]="myForm"
      >
        <div class="input-group mb-3">
          <span
            class="input-group-text bi-person-circle icon"
            id="basic-addon1"
          ></span>

          <input
            type="text"
            class="form-control"
            placeholder="Nombre"
            aria-label="Username"
            aria-describedby="basic-addon1"
            name="nombre"
            ngModel
            formControlName="nombre"
            #inputnombre
          />

          <div
            *ngIf="myForm.get('nombre').errors && myForm.get('nombre').dirty"
          >
            <p *ngIf="myForm.get('nombre').hasError('required')" class="mesaje">
              El nombre es requerido.
            </p>
          </div>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text bi-at icon" id="basic-addon1"></span>
          <input
            type="email"
            class="form-control"
            placeholder="Email"
            aria-label="email"
            aria-describedby="basic-addon1"
            name="email"
            ngModel
            formControlName="email"
            #inputemail
          />

          <div *ngIf="myForm.get('email').errors && myForm.get('email').dirty">
            <p *ngIf="myForm.get('email').hasError('required')" class="mesaje">
              Ingrese un correo electrónico válido.
            </p>
          </div>
        </div>

        <div class="input-group mb-3">
          <span class="input-group-text bi-pencil icon"></span>
          <textarea
            class="form-control"
            aria-label="With textarea"
            placeholder="Mensaje"
            name="mensaje"
            ngModel
            formControlName="mensaje"
            #inputarea
          ></textarea>

          <div
            *ngIf="myForm.get('mensaje').errors && myForm.get('mensaje').dirty"
          >
            <p
              *ngIf="myForm.get('mensaje').hasError('required')"
              class="mesaje"
            >
              El mensaje no puede quedar vacío
            </p>
          </div>
        </div>

        <div class="col-auto">
          <button
            type="submit"
            class="btn btn-primary mb-3 bi-send icon"
            id="btnenviar"
            [disabled]="
              !myForm.get('mensaje').valid ||
              !myForm.get('email').valid ||
              !myForm.get('mensaje').valid
            "
             ((click))="contactForm(form.value)"
          >
            Enviar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
