.navbar-toggler {
  background-color: palevioletred;

}

#head {
  background-size: 100%;
  background-size: cover;
  background-image: url("../../../assets/images/IMG_3207.jpg");
  height: 100%;
  display: flex;
}

section#head div.cont {
  height: 95%;
  width: 90%;
  background-size: 100%;
  background-size: cover;

  background-image: url("../../../assets/images/IMG_32071.jpg");
  margin: 30px auto;
  -webkit-box-shadow: 0 0px 2px #0b0b0b, 0 0 2px #111111 inset;
  -moz-box-shadow: 0 0px 2px #111111, 0 0 2px #171717 inset;
  box-shadow: 0 0px 2px #0b0b0b, 0 0 2px #111111 inset;
}


div#contmenu {
  transform: rotate(-90deg) translateX(10px);
  transform-origin: bottom right;
  position: fixed;
  right: 20px;

}



div#contmenu .optionMenu {
  color: #b3b3b3;
  letter-spacing: 1px;
  font-family: 'Raleway'; font-size: 16px; 

}



/* div#contmenu .optionMenu:hover a,
div#contmenu .optionMenu:hover {
  color: #ffffff;
}

div#contmenu .optionMenu.active {
  color: #ffffff;
} */


div.contme {
  float: left;
  height: auto;
  width: auto;
  margin: 210px auto auto 110px;
}



h1 strong#point {
  color: #e349c4;
  
  font-family: 'Raleway';font-size: 85px;}

span {
  display: inline-block;
  position: relative;
  left: 17px;
}


.line::before {
  content: "";
  left: -12px;
  position: absolute;
  width: 3px;
  height: 40px;
  background-color: #e349c4;
  top: 11px;
}


#hello {
  color: white;
  font-family: 'Raleway'; font-size: 80px; 
  font-weight: bold;
  margin-bottom: 33px;
}

#name {
  letter-spacing: 3px;
  word-spacing: 3px;
  line-height: 1.1;
  color: rgb(255, 255, 255); 
  font-family: 'Raleway';font-size: 55px;
  font-weight: lighter;
}



body {
  margin: 0;
  padding: 0;
  background: #2d3436;
}

.btn {
  position: relative;
  display: block;

  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
 // margin: 30px 0;
  border: 1px solid #e349c4;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}

.btn::before {
  background: #e349c4;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.btn1::before {
  width: 0%;
  height: 100%;
}

.btn1:hover::before {
  width: 100%;
}

#raised:hover {
  background-color: #e349c400;
  color: #ffffff;
  /*  border: 1px solid#ffffffea; */
}

#raised {
  margin-top: 50px;
  /*   transition: all 0.5s ease; */
  transform: translate(0%, -20%);
  border: 1px solid #e349c4;
  color: #e349c4;
  font-family: 'Raleway'; font-size: 17px; 
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
   
  background-color: transparent;
  padding: 10px;
  outline: none;
  border-radius: 2px;
}


$base: 0.6rem;

/* html {
  scroll-behavior: smooth;
}
 */

#wrapper {
  margin: 10px;
  background: red;
  width: 300px;
  height: 300px;
  overflow-y: auto;
}

#wrapper div {
  width: 100%;
  background: blue;
  margin: 5px 0px;
  color: white;
  height: 60px;
  text-align: center;
  font-size: 30px;
  opacity: 0;
  transition: all 2s linear;
}

#wrapper div.show {
  opacity: 1;
}

.activa {
  font-weight: bold !important;

  color: rgb(228, 8, 8) !important;
}

.inactiva {
  font-weight: bold !important;
  color: #d0ff00 !important
}
@media (max-width: 1026px) {
  div.contme {

    margin: 180px auto auto 40px;
  }
}
@media (max-width: 991px) {
  div#contmenu .optionMenu {
    color: #f3f3f3;
    letter-spacing: 1px;
    font-size: 16px;
    margin-left: 10px;

  }

  div#contmenu .optionMenu.social {
    display: none;
  }

  section#head div.cont {
    height: 91%;

    margin: 50px auto;

  }

  div#contmenu {

    transform: rotate(0deg) translateY(0px);
    transform-origin: top right;
    left: 42px;
  }
}

@media (max-width: 862px) {

  #raised {
    margin-top: 40px;
  }

  h1 strong#point {
    font-size: 62px;
  }

  .line::before {
    content: "";
    top: 5px;
  }

  #hello {
    font-size: 44px;
  }

  #name {
    font-size: 44px;
  }


  div.contme {

    margin: 170px auto auto 30px;
  }

}

@media (max-width: 572px) {


  #hello {
    font-size: 38px;
  }

  #name {
    font-size: 35px;
  }


  div.contme {

    margin: 160px auto auto 20px;
  }
  .line::before {
    content: "";
    top: 2px;
  }
}


@media (max-width: 526px) {

  .line::before {
    content: "";
    top: -4px;
  }
  #hello {
    font-size: 38px;
  }

  #name {
    font-size: 28px;
  }


}

.navbar-toggler {

  line-height: 0;
  color: rgba(0, 128, 0, 0);
  background-color: rgba(29, 29, 29, 0.096);
  border: none;
  margin-left: 4px;
  border-radius: 0;


}

.navbar-toggler-icon {


  color: #ffffff;


  left: 0px;
}