<div class="sections">
  <section id="home" class="container-fluid" #section intersection>
    <div class="home" id="conthome">
      <div id="contmenu">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid container-nav">
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNavDropdown"
              aria-controls="navbarNavDropdown"
              aria-expanded="false"
              aria-label="Toggle navigation"
              (click)="toggleState()"
            >
              <span class="navbar-toggler-icon"></span>
            </button>

            <div
              class="collapse navbar-collapse"
              id="navbarNavDropdown"
              [ngClass]="{ collapse: isCollapse }"
            >
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link activa optionMenu" href="#home" #menu
                    >Home
                  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link optionMenu" href="#about" #menu> About</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link optionMenu" href="#portfolio" #menu>
                    Portfolio</a
                  >
                </li>

                <li class="nav-item">
                  <a class="nav-link optionMenu" href="#contact" #menu>
                    Contact</a
                  >
                </li>

                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <li class="nav-item">
                  <a
                    class="nav-link optionMenu social"
                    href="https://github.com/acilegna"
                    target="_blank"
                    >Github</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link optionMenu social"
                    href="https://www.linkedin.com/in/angelicamruiz/"
                    target="_blank"
                    #menu
                    >Linkedin</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <div class="cont-presentacion col-12 col-sm-12 col-md-12">
        <h1 id="hello" @entrada *ngIf="padre === 'home'">
          Hola<strong id="point">.</strong>
        </h1>
        <div @fadeInSequence *ngIf="padre === 'home'">
          <span id="programer" class="line animate">
            Soy Programadora Web
          </span>
          <div id="conthello" class="animate">
            <button id="bton-cv" class="btn btn1">Ver CV</button>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section
    id="about"
    class="container-fluid"
    #section
    intersection
    (trigger)="onTrigger($event)"
  >
    <app-about [hijo]="padre"></app-about>
  </section>

  <section
    id="portfolio"
    class="container-fluid"
    #section
    intersection
    (trigger)="onTrigger($event)"
  >
    <app-trabajo [hijo]="padre"> </app-trabajo>
  </section>

  <section
    id="contact"
    class="container-fluid"
    #section
    intersection
    (trigger)="onTrigger($event)"
  >
    <app-contact [hijo]="padre"> </app-contact>
  </section>

 
    <app-footer></app-footer>
  
</div>
