li.nav-item a:before,
li.nav-item a:after {
  position: absolute;
  opacity: 0;
  font-size: 16px;
  top: 7px;
  transition: all 0.3s;
}

li.nav-item a:before {
  content: "<";
  left: -3px;
  transform: translateX(10px);
}

li.nav-item a:after {
  content: ">";
  right: -3px;
  transform: translateX(-10px);
}

li.nav-item a.activa:before,
li.nav-item a.activa:after {
  opacity: 1;
  transform: translateX(0px);
}

li.nav-item a {
  position: relative;
  z-index: 0;
}
.activa {
  font-weight: bold !important;
  color: #b8b7b7 !important;
}

.sections {
  position: absolute;
  z-index: 99999999999999999;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
  width: 100%;
  height: 100%;
  // background-image: url("../../../assets/images/IMG_32070.png");
}

section#about {
  --bs-gutter-x: 0rem !important;
  background-color: rgb(255, 255, 255);
  height: 100%;
}

section#home {
  --bs-gutter-x: 0rem !important;
  background-size: cover;
  height: 100%;
  //background-color:#1c1c1c;
  background-image: url("../../../assets/images/IMG_32070.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
}
section#portfolio {
  --bs-gutter-x: 0rem !important;
  background-color: #141414;
  height: 100%;
}
section#contact {
  --bs-gutter-x: 0rem !important;
  background-color: rgb(255, 255, 255);
  height: 100%;
}
.home#conthome {
  width: 90%;
  //background-color: red;
  height: auto;
  background-image: url("../../../assets/images/IMG_32070.jpg");
  background-size: cover;
  // background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px auto 0px auto;
  position: relative;
}

.navbar {
  position: fixed;
  z-index: 1;
}
div#contmenu .optionMenu {
  color: #919191;
  letter-spacing: 2px;
  font-family: "Raleway";
  font-size: 16px;
  margin-right: 10px;
}

div.cont-presentacion {
  //div centrado
  width: 92%;
  height: 250px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  //background-color: red;
}

h1 strong#point {
  color: #e349c4;
  font-family: "Raleway";
  font-size: 85px;
}

span#programer {
  display: inline-block;
  position: relative;
  left: 17px;

  letter-spacing: 3px;
  word-spacing: 3px;
  line-height: 1.1;
  color: rgb(255, 255, 255);
  font-family: "Raleway";
  font-size: 44px;
  font-weight: lighter;
}

.line::before {
  content: "";
  left: -12px;
  position: absolute;
  width: 3px;
  height: 40px;
  background-color: #e349c4;
  top: 5px;
}

#hello {
  color: white;
  font-family: "Raleway";
  font-size: 68px;
  font-weight: bold;
  letter-spacing: 2px;

  //background-color: blue;
  margin-bottom: 50px;
}
#bton-cv {
  margin-top: 50px;
  transform: translate(0%, -20%);
  border: 1px solid #e349c4;
  color: #e349c4;
  font-family: "Raleway";
  font-size: 15px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  background-color: transparent;
  padding: 12px;
  outline: none;
  border-radius: 2px;
}
body {
  margin: 0;
  padding: 0;
  background: #2d3436;
}

.btn {
  position: relative;
  display: block;
  font-size: 14px;
  font-family: "montserrat";
  text-decoration: none;
  border: 1px solid #e349c4;
  padding: 14px 60px;
  text-transform: uppercase;
  overflow: hidden;
  transition: 1s all ease;
}

.btn::before {
  background: #e349c4;
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  transition: all 0.6s ease;
}

.btn1::before {
  width: 0%;
  height: 100%;
}

.btn1:hover::before {
  width: 100%;
}

#bton-cv:hover {
  background-color: #e349c400;
  color: #ffffff;
}

$base: 0.6rem;

:host(a) {
  color: rgb(0, 81, 255);
}

@media (max-width: 991px) {
  li.nav-item a:before {
    left: -9px;
  }

  li.nav-item a:after {
    content: ">";
    right: auto;
  }

  li.nav-item a.activa:before,
  li.nav-item a.activa:after {
    opacity: 1;
    transform: translateX(0px);
  }

  li.nav-item a {
    position: relative;
    z-index: 0;
  }

  /*  .navbar-toggler-icon {
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    background-image: var(--bs-navbar-toggler-icon-bg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
 
    
  } */

  .navbar-toggler {
    // background-color: rgba(199, 15, 15, 0);
    border: none;
    border-radius: 0;
  }

  .nav-link {
    display: block;

    // padding-bottom: 2px;
    // margin-left: 20px;
    // background-color: beige;
    //float: right;
  }
  .navbar {
    --bs-navbar-toggler-focus-width: 0rem;
    --bs-navbar-toggler-padding-x: 0.25rem !important;
    --bs-navbar-toggler-padding-y: 0.1rem !important;
    --bs-navbar-padding-x: -2;
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 90%;
  }
  li .nav-item {
    margin-top: -70;
    margin-bottom: 0;
    // float: right;
  }
  div#contmenu .optionMenu.social {
    display: none;
  }
}

@media (max-width: 813px) {
  h1 strong#point {
    font-size: 62px;
  }

  .line::before {
    content: "";
    top: 5px;
  }

  span#programer {
    font-size: 40px;
  }
}

@media (max-width: 669px) {
  h1#hello {
    font-size: 54px;
  }

  .line::before {
    content: "";
    top: 1px;
  }

  span#programer {
    font-size: 37px;
  }
}

@media (max-width: 615px) {
  h1#hello {
    font-size: 51px;
  }

  span#programer {
    font-size: 33px;
  }

  .line::before {
    content: "";

    top: 1px;
  }
}

@media (max-width: 567px) {
  h1#hello {
    font-size: 49px;
  }

  .line::before {
    content: "";
    top: -2px;
  }

  span#programer {
    font-size: 29px;
  }
}

@media (max-width: 409px) {
  h1#hello {
    font-size: 47px;
  }

  .line::before {
    content: "";
    top: 1px;
  }

  span#programer {
    font-size: 24px;
  }

  #bton-cv {
    font-size: 15px;
  }
}
@media (max-width: 339px) {
  h1#hello {
    font-size: 45px;
  }

  span#programer {
    font-size: 20px;
  }

  #bton-cv {
    font-size: 12px;
  }
}

@media (max-width: 313px) {
  h1#hello {
    font-size: 43px;
  }

  span#programer {
    font-size: 18px;
  }
}

@media (max-width: 293px) {
  h1#hello {
    font-size: 40px;
  }

  span#programer {
    font-size: 15px;
  }

  #bton-cv {
    margin-top: 45px;

    font-size: 12px;

    padding: 8px;
  }
}
