<div class="about" id="contabout">

  <div class="presentation col-md-12">
    <div>
      <h1 id="txtabout" class="line" @entrada *ngIf="hijo === 'about'">
        Acerca de <strong id="point">mí</strong>
      </h1>
    </div>

    <div id="cont-presentation" @fadeInSequence *ngIf="hijo === 'about'">


      <p id="code" class="animate">

        Soy Angélica Ruiz, una programadora web apasionada y dedicada a mi trabajo.
        <BR>
        He trabajado en Backend y Frontend con PHP, JavaScript, TypeScript, CSS3 y HTML5, desarrollando proyectos tanto
        personales como profesionales como freelancer.
        <br />Puedo ayudarte en tu próximo proyecto,<a href="#contact" class="write">¡escríbeme!.<span>&#160;</span></a>
      </p>
    </div>
  </div>
</div>