h1 {
  // display: inline-block;
  //
  position: relative;
  left: 50px;
  top: 15px;
}

.line::before {
  content: "";
  left: -16px;
  position: absolute;
  width: 3px;
  height: 40px;
  background-color: #e349c4;
  top: -5px;
}

section.about {
  height: 100%;
  width: 100%;
  background-color: rgb(234, 233, 233);
}

div.contabout {
  height: 100%;

  width: 90%;
  margin: 0px auto;
  background-color: #3a3837;

  -webkit-box-shadow: 0 0px 2px #0b0b0b, 0 0 2px #111111 inset;
  -moz-box-shadow: 0 0px 2px #111111, 0 0 2px #171717 inset;
  box-shadow: 0 0px 2px #0b0b0b, 0 0 2px #111111 inset;
}
div.contabout div.contpre {
  height: auto;
  width: auto;
  padding-top: 70px;
}
#hello {
  color: rgb(255, 255, 255);
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 45px;
}
span#name {
  margin-left: 31px;

  color: rgb(252, 252, 252);
  font-size: 25px;
  font-weight: lighter;
}
p#code {
  color: white;
  margin-left: 31px;
  margin-top: 20px;
}
#junior {
  color: white;
  margin-left: 10px;
  font-size: smaller;
}
.write {
  color: #e349c4;
  text-decoration: none;
  margin-left: 5px;
}
.mat-mdc-raised-button#raised {
  margin-top: 15px;
  background-color: #e349c4;
  color: rgb(250, 250, 250);
}

#cv {
  color: #e349c4;
  text-decoration: underline;
}
div#redes {
  margin-top: 25px;
}
a.social {
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: unset;
  letter-spacing: 2px;
  text-decoration: none;
}

#redes .social#git,
#redes .social#link {
  margin-left: 30px;
  padding: 8px 8px 8px 8px;
  background-color: rgb(65, 62, 62);
  border-radius: 7px;
  -webkit-box-shadow: 0 0 1px #111111 inset;
  -moz-box-shadow: 0 0 1px #171717 inset;
  box-shadow: 0 0 1px #111111 inset;
}
h1 #point {
  color: #e349c4;
}
