div.contpre {
  float: left;
  height: auto;
  width: auto;
  margin: 180px auto auto 110px;
}

#hello {
  color: rgb(160, 40, 40);
  font-size: 44px;
  font-weight: bold;
}
#name {
  color: rgb(134, 11, 11);
  font-size: 25px;
  font-weight: lighter;
}
.mat-mdc-raised-button#raised {
  margin-top: 15px;
  background-color: #e349c4;
  color: rgb(31, 29, 29);
}
a.social {
  color: rgb(28, 14, 14);
  font-size: 13px;
  font-weight: lighter;
  letter-spacing: 2px;
  margin: 1px;
  text-decoration: none;
}
h1 #point {
  color: red;
}
