<section class="about">
    <div class="contpre">

        <!--  <h1 id="hello">Hola<strong id="point">.</strong></h1>
        <span id="name" class="line">
            Soy desarroladora web
        </span> -->

        <h1 id="hello" class="line">Acerca de <strong id="point">mí</strong></h1>

        <span id="name">Soy Angelica Ruiz, programadora Web Junior.</span>
        <p id="code">He trabajado en Backend y Frontend con PHP, Javascript,
            Typescript, Css3 y Html5 para crear proyectos personales y profesionales como FreeLancer. Puedo ayudarte en
            tu próximo proyecto.<a href="
            " class="write">Escríbeme</a>

        </p>


        <span id="junior"><em>"Sin Junior no hay Senior"</em>
        </span>
        <div id="cv">
            <button mat-raised-button id="raised">
                Ver CV
            </button>
        </div>
        <a href="" class="social"> Github</a>
        <a href="" class="social"> Linkedin </a>
    </div>
</section>