<section class="about">
    <div class="contpre">

        <!--  <h1 id="hello">Hola<strong id="point">.</strong></h1>
        <span id="name" class="line">
            Soy desarroladora web
        </span> -->

        <h1 id="hello" class="line">Acerca de <strong id="point">mí</strong></h1>

        <span id="name">Soy Angelica Ruiz, programadora Web Junior.</span>
        <p id="code">He trabajado en Backend y Frontend con PHP, JS,
            TS, CSS3 y HTML5 para crear proyectos personales y profesionales como FreeLancer. <br>Puedo ayudarte
            en
            tu próximo proyecto<a href="
            " class="write">escríbeme.</a>
            <span id="junior"><em>"Sin Junior NO HAY Senior"</em>
            </span>
        </p>



        <div id="redes">
            <a href="" class="social" id="cv"> Ver CV</a>
            <a href="" class="social"> Github</a>
            <a href="" class="social"> Linkedin </a>
        </div>

    </div>
</section>
