<div class="portfolio" id="contwork">
  <!-- inicio titulo -->

  <div class="divtrabajo">
    <div class="row">
      <div class="col-12">
        <h1 id="txtwork" class="line" @entrada *ngIf="hijo === 'portfolio'">Trabajos</h1>
      </div>
    </div>

    <!-- fin titulo -->

    <div class="row cont-portafolio" @entrada *ngIf="hijo === 'portfolio'">


      <div class="row g-3 bs">

        <!-- Nav Tabs -->
        <ul class="nav nav-tabs" id="myTab" role="tablist">

          <li class="nav-item" role="presentation">
            <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button"
              role="tab" aria-controls="profile" aria-selected="false">Parte 1</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button"
              role="tab" aria-controls="contact" aria-selected="false">Parte 2</button>
          </li>
        </ul>
        <!-- Contenido de los Tabs -->
        <div class="tab-content mt-3" id="myTabContent">

          <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
            <div class="row">
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12   text-white fondo">
                <img class="img-fluid" src="assets/images/invitacion.png" alt="Imagen">
                <div id="superpuesto" class="position-absolute top-50 start-50 translate-middle  p-3  ">
                  <h3 class="titulo">Invitación digital.</h3>
                  <p class="descripcion">Invitación desarrollada con HTML y Bootstrap. </p>
                  <a href="https://invitationbaby.vercel.app/" class="link"><i class="bi bi-box-arrow-up-right"></i>
                  </a>
                </div>
              </div>

              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12   text-white fondo">
                <img class="img-fluid" src="assets/images/portafolio.png" alt="Imagen">
                <div id="superpuesto" class="position-absolute top-50 start-50 translate-middle  p-3  ">
                  <h3 class="titulo">Mi portafolio</h3>
                  <p class="descripcion">Portafolio de evidencias desarrollado con Angular, Bootstrap y Node.js (para el
                    envío de correos electrónicos)</p>
                  <a href="https://portaf-weld.vercel.app/" class="link"><i class="bi bi-box-arrow-up-right"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
            <div class="row">


              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12   text-white fondo">
                <img class="img-fluid" src="assets/images/venta.png" alt="Imagen">
                <div id="superpuesto" class="position-absolute top-50 start-50 translate-middle  p-3  ">
                  <h3 class="titulo">Punto de venta</h3>
                  <p class="descripcion">Proyecto para el control de inventarios, ventas y gestión de entradas y
                    salidas,
                    desarrollado con Laravel, jQuery, Ajax, JavaScript y MySQL.</p>
                  <a href="https://github.com/acilegna/ventas" class="link"><i class="bi bi-box-arrow-up-right"></i></a>
                </div>
              </div>

              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 col-sm-6 col-12   text-white fondo">
                <img class="img-fluid" src="assets/images/entheos.png" alt="Imagen">
                <div id="superpuesto" class="position-absolute top-50 start-50 translate-middle  p-3  ">
                  <h3 class="titulo">Landing page</h3>
                  <p class="descripcion">Página informativa desarrollada con HTML, Bootstrap, jQuery y JavaScript.</p>
                  <a href="https://entheos-sand.vercel.app/" class="link"><i class="bi bi-box-arrow-up-right"></i></a>
                </div>
              </div>

            </div>
          </div>
        </div>

      </div>
    </div>
    <br>
  </div>
</div>