.work#contwork {
  background-color: #ffffff;
  height: 100%;
  width: 90%;
  margin: 0px auto;
  position: relative;
}

#mywork {
  //div centrado
  width: 92%;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  //background-color: blueviolet;
  margin: auto;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#cont-txtwork {
  // margin: 150px 0px 0px 70px;
  height: auto;
  width: auto;
}

h1#txtwork {
  margin-left: 16px;
  color: rgb(73, 73, 73);
  font-family: "Raleway";
  font-size: 48px;
  font-weight: bold;
  //margin: 0px 0px -70px 60px;
  font-family: "Raleway";
  position: relative;
}

.line::before {
  content: "";
  left: -16px;
  position: absolute;
  width: 3px;
  height: 40px;
  background-color: #0c9e9c;
  top: -5px;
}

#cont-description {
  // background-color: rgb(152, 228, 10);
  margin: 50px 0px 0px 0px;
}

///////////////////////////////////////////////////////////////////////////////////////////

.fade {
  opacity: 1;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.nav .nav-item button.active {
  background-color: transparent;  
  color: #0c9693 !important;
}
#pills-home-tab {
  padding-bottom: 10px;
}

.nav-link {
  font-family: "Raleway";
  font-size: 21px;
  letter-spacing: 3px;
  line-height: 1.1;
  color: rgb(124, 124, 124) !important;
}

.nav .nav-item button.active::after {
  content: "";
  border-right: 0px solid var(--bs-danger);
  height: 100%;
  position: absolute;
  right: -1px;
  top: 0;
  border-radius: 5px 0 0 5px;
}

.text-descripcion {
  //color: red;
  color: rgb(99, 99, 99);
  font-size: 21px;
  letter-spacing: 2px;
  word-spacing: 1px;
  line-height: 1.4;
  margin-top: -15px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: justify;
  font-family: "Raleway";
  //background-color: brown;
}

a.button-site {
  background: #0c9693;
  border: 0;
  bottom: 20px;
  color: #fff;
  font-size: 10pt;
  font-weight: 600;
  padding: 11px 30px;
  font-family: "Raleway";
  text-decoration: none;
  position: relative;
  display: block;
  float: left;
  margin-left: 30px;
  margin-top: 45px;
}

.border-primary {
  border-color: rgba(255, 0, 0, 0) !important;
}

.border {
  border-style: none !important;
  border-color: rgba(255, 0, 0, 0);
  border-width: 0;
}

@media (max-width: 991px) {
  h1#txtwork {
    font-size: 44px;
  }
  .text-descripcion {
    color: rgb(8, 8, 8);
    //color: rgb(99, 99, 99);
    font-size: 21px;
    margin-top: -15px;
    margin-left: 0px;
    margin-right: 0px;
  }
  a.button-site {
    bottom: 0px;
    margin-left: 0px;
    margin-top: 15px;
  }

  .align-items-end {
    align-items: flex-start !important;
    margin-left: 13px;
  }

  #cont-description {
    margin: 35px 0px 0px 0px;
  }

  .nav-link {
    font-size: 21px;
  }

  #mywork {
    height: 300px;
  }
}
@media (max-width: 777px) {
  .text-descripcion {
    font-size: 19px;
  }
  .nav-link {
    font-size: 19px;
  }
  h1#txtwork {
    font-size: 42px;
  }
  #mywork {
    height: 350px;
  }
}

@media (max-width: 487px) {
  .text-descripcion {
    font-size: 16px;
  }
  .nav-link {
    font-size: 16px;
  }
  h1#txtwork {
    font-size: 38px;
  }
  #mywork {
    height: 350px;
  }
}
