<div class="work" id="contwork">
  <div id="mywork">
    <!-- inicio titulo -->
    <div class="row">
      <div class="col-12" id="cont-txtwork">
        <h1 id="txtwork" class="line" @entrada *ngIf="hijo === 'portfolio'">
          Trabajos
        </h1>
      </div>
    </div>


    <!-- <div class="row " id="conte">

      <div class="col-6" id="pru">

        <div class="row ">
          <div class="imagen col-lg-6 col-md-12 col-sm-12 col-12">
            <img class="img-fluid" src="http://localhost/deleonconstruccion/public/frontend/images/client-4.JPG"
              alt="Imagen">
          </div>

          <div class="col-lg-6 col-md-12 col-sm-12 col-12" id="entheos">
            <h1 id="title-entheos">Entheos</h1>
            <p>Fusce sapien lectus, moligula sa dictum liberoFusce sapien lectus, moligula sa dictum liberoFusce sapien
              lectus, moligula sa dictum libero.</p>
          </div>
        </div>

      </div>
      <div class="col-6">
        <div class="row">
          <div class="imagen col-lg-6 col-md-12 col-sm-12 col-12">
            <img class="img-fluid" src="http://localhost/deleonconstruccion/public/frontend/images/client-4.JPG"
              alt="Imagen">
          </div>

          <div class="col-lg-6 col-md-12 col-sm-12 col-12" id="entheos">
            <h1 id="title-entheos">Entheos</h1>
            <p>Fusce sapien lectus, moligula sa dictum liberoFusce sapien lectus, moligula sa dictum liberoFusce sapien
              lectus, moligula sa dictum libero.</p>
          </div>
        </div>

      </div>


    </div> -->


    <!-- <div class="row ">
          <div class="imagen col-lg-6 col-md-12 col-sm-12 col-12">
            <img class="img-fluid" src="http://localhost/deleonconstruccion/public/frontend/images/client-4.JPG"
              alt="Imagen">
          </div>

          <div class="col-lg-6 col-md-12 col-sm-12 col-12" id="entheos">
            <h1 id="title-entheos">Entheos</h1>
            <p>Fusce sapien lectus, moligula sa dictum liberoFusce sapien lectus, moligula sa dictum liberoFusce sapien
              lectus, moligula sa dictum libero.</p>
          </div>
        </div> -->


    <div class="row d-flex gap-3"> <!-- gap-3 añade espacio -->
      <!-- columna 1 -->
      <div class="col-md bg-primary text-white p-3">

        <div class="row d-flex gap-3">
          <!-- imagen -->
          <div class="col-md bg-primary text-white p-3">
            <img class="img-fluid" src="assets/images/invitacion.png" alt="Imagen">
          </div>
          <!--    texto -->
          <div class="col-md bg-primary text-white p-3">
            <h1>Columna 1</h1>
            <p>Fusce sapien lectus, moligula sa dictum liberoFusce sapien lectus, moligula sa dictum liberoFusce sapien
              lectus, moligula sa dictum libero</p>
          </div>
        </div>


      </div>






        <!-- columna 1 -->
        <div class="col-md bg-primary text-white p-3">

          <div class="row d-flex gap-3">
            <!-- imagen -->
            <div class="col-md bg-primary text-white p-3">
              <img class="img-fluid" src="assets/images/entheos.png" alt="Imagen">
            </div>
            <!--    texto -->
            <div class="col-md bg-primary text-white p-3">
              <h1>Columna 1</h1>
              <p>Fusce sapien lectus, moligula sa dictum liberoFusce sapien lectus, moligula sa dictum liberoFusce sapien
                lectus, moligula sa dictum libero</p>
            </div>
          </div>
  
  
        </div>
    </div>


  </div>