<div class="portfolio" id="contwork">
  <!-- inicio titulo -->

  <div class="divtrabajo">
    <div class="row">
      <div class="col-12">
        <h1 id="txtwork" class="line" @enterState *ngIf="hijo === 'portfolio'">Trabajos</h1>
      </div>
    </div>

    <!-- fin titulo -->

    <div class="row cont-portafolio" @enterState *ngIf="hijo === 'portfolio'">


      <div class="row g-3"> <!-- Espacio general entre columnas -->
        <div class="col-md-3 bg-primary text-white" id="fondo">
          <img class="img-fluid" src="assets/images/invitacion.png" alt="Imagen">
          <div id="superpuesto" class="position-absolute top-50 start-50 translate-middle  p-3  ">
            <h3 class="titulo">Invitación digital.</h3>
            <p class="descripcion">Invitación desarrollada con HTML y Bootstrap. </p>
            <a href="https://invitationbaby.vercel.app/" class="link">Ver</a>
          </div>

        </div>

        <div class="col-md-3 bg-primary text-white" id="fondo">
          <img class="img-fluid" src="assets/images/portafolio.png" alt="Imagen">
          <div id="superpuesto" class="position-absolute top-50 start-50 translate-middle  p-3  ">
            <h3 class="titulo">Mi portafolio</h3>
            <p class="descripcion">Portafolio de evidencias desarrollado con Angular, Bootstrap y Node.js (para el
              envío de correos electrónicos)</p>
            <a href="https://portaf-weld.vercel.app/" class="link">Ver</a>
          </div>


        </div>
        <div class="col-md-3 bg-primary text-white" id="fondo">
          <img class="img-fluid" src="assets/images/venta.png" alt="Imagen">
          <div id="superpuesto" class="position-absolute top-50 start-50 translate-middle  p-3  ">
            <h3 class="titulo">Punto de venta</h3>
            <p class="descripcion">Proyecto para el control de inventarios, ventas y gestión de entradas y salidas,
              desarrollado con Laravel, jQuery, Ajax, JavaScript y MySQL.</p>
            <a href="https://github.com/acilegna/ventas" class="link">Ver</a>
          </div>

        </div>
        <div class="col-md-3 bg-primary text-white" id="fondo">
          <img class="img-fluid" src="assets/images/entheos.png" alt="Imagen">
          <div id="superpuesto" class="position-absolute top-50 start-50 translate-middle  p-3  ">
            <h3 class="titulo">Landing page</h3>
            <p class="descripcion">Página informativa desarrollada con HTML, Bootstrap, jQuery y JavaScript.</p>
            <a href="https://entheos-sand.vercel.app/" class="link">Ver</a>
</div>

        </div>
      </div>




    </div>
  </div>
</div>