<section class="container-fluid">

    <div class="section" id="contwork" TrabajoDir>
        <div class="row" id="rowork">
            <div class="col-8"  id="descripcion">
                hola
            </div>
            <div class="col-4" id="work">
                <h1>Trabajos</h1>
                <a class="works" href="">Entheos</a>
                <a class="works" href="">Venta</a>
                <a class="works" href="">Prestashop</a>
            </div>
        </div>

    </div>
</section>

