


.work {
  //  padding: 2rem 0 60rem; // rough idea for space
 // border: 1px solid black;
  border: 0px solid#0c9693;
  opacity: 1;
  transition: opacity 1s ease-out;
  will-change: opacity;

  &.visible {
    opacity: 1;
  }

  &#contwork {
    background-color: #ffffff;
    height: 100%;

    width: 90%;
    margin: 0px auto;
     
  }
}

#two {
  height: 100%;
  width: 100%;
  
}



#rowork {
  margin-right: 0px;
  margin-left: 0px;
  height: 100%;
}

div#work {
  background-color: #2f1dd1;
  flex-direction: column;
  display: flex;
  position: relative;
  height: 100%;
}

 

///////////////////////////////////////////////////////////////////////////////////////////

.fade {
  opacity: 1;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}

.nav .nav-item button.active {
  background-color: transparent;
 // color:#ee653b !important;
 
 color:#0c9693 !important;
  
}
.nav-link {
  color: rgb(124, 124, 124) !important;

}

.nav .nav-item button.active::before {
  content: ""; 
  border-right: 0px solid #f57f3a00 ; 
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0;
  border-radius: 5px 0 0 5px;
}



#pills-tabContent,
#pills-home-tab {
  margin-top: 10px;
}

.text-descripcion {
  color: rgb(99, 99, 99);
  font-size: 25px;
  letter-spacing: 3px;
  word-spacing: 4px;
  line-height: 1.5;
  margin-top: -15px;
  margin-left: 120px;
  text-align: justify;
}

a.button-site {
  background: #0c9693;
  border: 0;
  bottom: 20px;
  color: #fff;
  font-size: 10pt;
  font-weight: 600;
  padding: 11px 30px;
  /*  cursor: pointer;
  pointer-events: none;
  position: absolute;
  transition: all 0.5s;
  visibility:visible; */
  text-decoration: none;
  position: relative;
  display: block;
  float: left;
  margin-left: 120px;
  margin-top: 35px;
}

.border-primary {
  border-color: rgba(255, 0, 0, 0) !important;
}

.border {
  border-style: none !important;
  border-color: rgba(255, 0, 0, 0);
  border-width: 0;
}

.nav-link {
  font-family: "Raleway";
  font-size: 25px;
  letter-spacing: 3px;

  line-height: 1.1;
}


 

.line::before {
  content: "";
  left: -12px;
  position: absolute;
  width: 3px;
  height: 40px;
  background-color: #0c9e9c;
  top: -5px;
}

h1#txtabout {
  color: rgb(73, 73, 73);
  font-family: "Raleway";
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 65px;
  //padding-top: 40px;
  margin-left: 120px;

  position: relative;
  left: 30px;
  top: 120px;
}



 